<% content_for :title, "Editing User" %>

<video autoplay muted loop id="background-video">
  <source src="/videos/background.mp4" type="video/mp4">
</video>

<div class="edit-user-container">
  <h1 class="page-title">Editing User</h1>

  <%= render "form", user: @user %>

  <div class="actions">
    <%= link_to "Show this user", @user, class: "btn-show" %> |
    <%= link_to "Back to users", users_path, class: "btn-back" %>
  </div>
</div>
